<div class="overlay">
  <div class="delete-confirmation">
    <div class="d-flex justify-content-end">
      <fa-icon (click)="cancelDelete()" class="close-icon" [icon]="faCross"></fa-icon>
    </div>
    <fa-icon class="fa-3x icon" [icon]="faExclamation"></fa-icon>
    <div>
      <h5>Delete Record!</h5>
      <p>Are you sure you want to delete the shift for {{ shift?.date }}?</p>
    </div>
    <div class="d-flex justify-content-evenly mt-5">
      <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      <button class="btn btn-danger" (click)="onConfirm()">Delete</button>
    </div>
  </div>
</div>
