$primary-color: #7492c2;
$border-color: #ccc;
$background-color: #f4f4f4;
$hover-background-color: #f9f9f9;
$shadow-color: rgba(0, 0, 0, 0.1);

.container-fluid {
  margin: 20px auto;
  font-size: smaller;
}


.info-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.items-per-page {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.select-show{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 6px;
}




body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $primary-color;
}

.custom-table-header {
  background-color: #7492c2;
  color: #ffffff;
}
.refresh {
  cursor: pointer;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #333;
  padding: 8px 16px 5px 16px;
}
.button {
  color: white;
  text-decoration: none;
  background-color:#EA738D;
  // color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  fa-icon {
    margin-right: 5px;
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

::ng-deep .ngx-pagination{
  line-height: 30px !important;

}
::ng-deep .ngx-pagination .current {

  background: #7492c2 !important;
    border-radius: 4px !important;
    padding-left: 13px !important;
    padding-right: 13px !important;

}
::ng-deep .ngx-pagination a, .ngx-pagination button {
   border: solid 1px #e4e4e4 !important;
   text-decoration: none !important;
}


.slide-right:hover {
  transform: translateX(20px);
  transition: transform 0.5s ease;
}
.slide-top:hover {
  transform: translateY(-20px);
  transition: transform 0.5s ease;
}
.slide-down:hover {
  transform: translateY(20px);
  transition: transform 0.5s ease;
}
.slide-left:hover {
  transform: translateX(-20px);
  transition: transform 0.5s ease;
}

.slide-out-down:hover {
  transform: translateY(20px);
  transition: transform 0.5s ease;
}

.container {
  display: flex;
}

.half-card {
  flex: 1;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #7492c2;
  height: 130px;
  margin-right: 10px;
  margin-top: 20px;
}

.card-body {
  padding: 20px;
  color: #7492c2;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.ribbon-1 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-1:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 179px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon {
  position: relative;
  padding: 6px 30px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 118px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon-2 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-2::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-2:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 146px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

