<div class="container-fluid mb-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="movebounce" (click)="onClickClients()">
          <div class="card card-1">
              <div class="card-body">
                  <h5 class="card-title">Our Client's</h5>
                  <p></p>
                  <p></p>
              </div>
          </div>
      </div>
      <div class="movebounce" (click)="onClickProfileDatabase()">
          <div class="card card-2">
              <div class="card-body">
                  <h5 class="card-title">Profile Database</h5>
                  <p></p>
                  <p></p>
              </div>
          </div>
      </div>
      <div class="movebounce" (click)="onClickOpenPositions()">
          <div class="card card-3">
              <div class="card-body">
                  <h5 class="card-title">Open Position's</h5>
                  <p></p>
              </div>
          </div>
      </div>
      <div class="movebounce" (click)="onClickOpenJobtitles()">
          <div class="card card-4">
              <div class="card-body">
                  <h5 class="card-title">Job Title</h5>
                  <p></p>
              </div>
          </div>
      </div>
      <div class="movebounce" (click)="onClickOpenScheduler()">
          <div class="card card-5">
              <div class="card-body">
                  <h5 class="card-title">Scheduler's</h5>
                  <p></p>
              </div>
          </div>
      </div>
      <div class="movebounce">
          <div class="card card-6">
              <div class="card-body">
                  <h5 class="card-title">Report's</h5>
                  <p></p>
              </div>
          </div>
      </div>
  </div>
</div>
