<nav class="navbar">
  <div class="navbar-brand">
    <img src="/assets/Mainlogo.jpg" />
  </div>
  <div class="navbar-links">
    <span routerLink="" class="navbar-label"
      ><fa-icon [icon]="faUserTie"></fa-icon> Welcome To SkynHR</span
    >
    <div id="myCustomTooltip" class="custom-tooltip" (mouseover)="showAboutUsTooltip = true" (mouseleave)="showAboutUsTooltip = false">
      <a class="navbar-link" href="#" ngbTooltip="{{ aboutUsTooltipText }}">
        About Us
      </a>
      <div class="tooltip-content"></div>
    </div>




    <button class="navbar-button">Request For Trail</button>
    <button class="navbar-button" href="#">Request For Demo</button>
    <button class="navbar-button" routerLink="/login">
      <fa-icon [icon]="faArrowRight"></fa-icon> Login
    </button>
  </div>
</nav>

<div class="mt-5">
  <router-outlet></router-outlet>
</div>
