
.container-fluid {
  //margin: 20px auto;
  font-size: smaller;
}


.ribbon-1 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  background-color: #7492c2;
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-1:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 133px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon-2 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-2::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-2:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 171px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon {
  position: relative;
  padding: 6px 30px;
  background-color: #7492c2;
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 104px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

span {
  cursor: pointer;
  color: darken($color: #7492c2, $amount: 10%);
}

.card-custom
{
  border: none !important;;
}
.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #EA738D;
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;

  &:hover {
    background-color: darken(#EA738D, 10%);
  }
}
.button-add {
    color: white;
    text-decoration: none;
    background-color: #EA738D;
    border: none;
    padding: 7px 20px;
    border-radius: 4px;

  &:hover {
    background-color: darken(#EA738D, 10%);
  }
}
.button-text{
  color: white;
  text-decoration: none;
  font-weight: 800;
}
.icon-role{
  margin-right: 5px;
}
.blue-color {
  color: #7492c2;
}

.pink-color {
  color: #ea738d;
}

.Role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  background-color: white;
position: absolute;
top: 30%;
left: 35%;
box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.5);
  form {
    width: 100%;
    max-width: 400px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
  }
}

.roles-section{
  margin-top: 10px;
  max-height: 560px;
 overflow-y: auto;
 &::-webkit-scrollbar {
   width: 10px;
 }
 &::-webkit-scrollbar-thumb {
   background-color: #999;
   border-radius: 10px;
 }
 &::-webkit-scrollbar-track {
   background-color: #f1f1f1;
 }
 &::-webkit-scrollbar-thumb:hover {
   background-color: #555;
}

}

.button-update{
  color: white;
  text-decoration: none;
  background-color: #EA738D;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;

  &:hover {
    background-color: darken(#EA738D, 10%);
  }
}

.icons{
  display: flex;
  position: absolute;
  right: 0;
  margin: 0 10px 0 10px;
}
.fa-icons{
  margin: 0 10px 0 10px !important;
  color: #EA738D;
  &:hover {
    color: darken(#EA738D, 15%);
  }
}
