<div class="overlay"*ngIf="overlayVisible"  (mouseleave)="onMouseLeave()">
    <div class="row row-cols-lg-5 row-cols-md-2 g-4 justify-content-center">
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/clock.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Payroll</p>
                <p class="card-text">Integrate with SkyHR Payroll</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/comp.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Self service</p>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/mobile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Service</p>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/clock.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Time sheet</p>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/flow.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Attendance</p>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/three.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Product</p>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/map.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Travel & expenses</p>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/comp.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">Engage</p>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
