$primary-color: #333;
$border-color: #ccc;
$background-color: #f4f4f4;
$hover-background-color: #f9f9f9;
$shadow-color: rgba(0, 0, 0, 0.1);

.container-fluid {
  font-size: smaller;
}

.ribbon-1 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-1:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 115px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon {
  position: relative;
  padding: 6px 30px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 104px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.info-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.items-per-page {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card {
  border: 1px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px $shadow-color;
  padding: 0px 20px 20px 20px;

  &-body {
    padding: 15px;
  }
}



body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $primary-color;
}

.icon-refresh{
  color: #EA738D;
  &:hover {
    color: darken(#EA738D, 15%);
  }
}

.refresh {
  border: 1px solid #ccc;
  padding: 5px 12px;
  color: #000000;
  font-size: 12px;
}
.icon-fa{
  color: #EA738D;
  &:hover {
    color: darken(#EA738D, 15%);
  }
}
.icon-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover::before {
    content: attr(data-title);
    position: absolute;
    top: -20%;
    right: 100%;
    transform: translateX(-50%);
    padding: 0.5em;
    background-color: $primary-color;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

.table{
  font-size: 12px;
}

.button {
  color: white;
  text-decoration: none;
  background-color:#EA738D;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 10px;

  fa-icon {
    margin-right: 5px;
  }

  &:hover {
    background-color: darken(#EA738D, 10%);
  }
}


.custom-table-header {
  background-color: #7492c2;
  color: #ffffff;
}
.tooltip-container {
  position: relative;
  cursor: pointer;

  .tooltip {
    display: none;
    position: absolute;
    white-space: nowrap;
    width: auto;
    top: 15%;
    left: 40%;
    transform: translateX(-50%);
    padding: 0.5em;
    background-color: $primary-color;
    color: #fff;
    border-radius: 5px;
  }

  &:hover .tooltip {
    display: block;
  }
}
.tooltip-container-icon {
  position: relative;

  a {
    margin-right: 10px;
    position: relative;
    display: inline-block;

    .tooltip-icon {
      position: absolute;
      top: -160%;
      left: 150%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      display: none;
    }
  }

  &:hover a .tooltip-icon {
    display: block;
  }
}


.tooltip-container-icons {
  position: relative;

  a {
    position: relative;
    display: inline-block;

    .tooltip-icons {
      position: absolute;
      top: -160%;
      left: 300%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      display: none;
    }
  }

  &:hover a .tooltip-icons {
    display: block;
  }
}


.select-show{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 6px;
  font-size: 12px;
}
.form-select{
  font-size: 13px;
}
::ng-deep .ngx-pagination{
  line-height: 21px !important;
  font-size: 12px !important;
}
::ng-deep .ngx-pagination :hover{
  border-radius: 4px !important;
  background: darken($color: #7492c2, $amount: 10%)!important;
  color: #f5f2f2;
}
::ng-deep .ngx-pagination .current {

  background: #7492c2 !important;
    border-radius: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

}
::ng-deep .ngx-pagination .current:hover {
  background: darken($color: #7492c2, $amount: 10%)!important;
}

::ng-deep .ngx-pagination a, .ngx-pagination button {
   border: solid 1px #e4e4e4 !important;
   text-decoration: none !important;
}


