<div class="overlay" *ngIf="onHover" (mouseleave)="onHoverMouseLeave()">
  <div class="row">
    <div class="col-md-8">
      <div class="row row-cols-lg-5 row-cols-md-2 g-4 justify-content-center">
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <p class="card-title">Our Story</p>
            <p class="card-text">
              Here's a concise short description for your company's "Our
              Story":?
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <p class="card-title">Partners</p>
            <p class="card-text">
              Empowering success through strategic partnerships, innovation, and
              shared vision
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <p class="card-title">Careers</p>
            <p class="card-text">
              Join us, where innovation thrives, and careers flourish with
              endless possibilities
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <p class="card-title">News Room</p>
            <p class="card-text">
              Informative stories, latest updates, and company highlights in a
              nutshell
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <p class="card-title">Security and Trust</p>
            <p class="card-text">
              Securing trust through excellence, integrity, and unwavering
              commitment to safety
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <p class="card-title">Contact Us</p>
            <p class="card-text">
              Connect with us today – Your inquiries matter, we're here
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-big text-bg-dark">
        <img src="/assets/cards-images/hiring.jpg" class="card-img" alt="..." />
        <!-- <div class="card-img-overlay">
          <p class="card-title">Card title</p>

        </div> -->
      </div>
    </div>
  </div>
</div>
