* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.contain {
  // background-image: url("/assets/images/.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  color: #fcfdfc;
}
.navbar {
  width: 85%;
  display: flex;
  margin: auto;
  height: 10%;
  background: transparent;
  align-items: center;
  justify-content: space-between;
color: #fff;
}
.navbar-toggler-icon {
  background-color: white;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-color: rgb(241, 239, 239);
}

.logo {
  text-align: center;
 top: 0;
  position: absolute;

  padding: 0px 10px px 10px;
  img {
   width: 100px;

  }
}
.navbar-nav{
  position: absolute;
  right: 0;
}
.button {
  color: #0a0d10;
  cursor: pointer;
  margin: 10px;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #7492c2;
  border-radius: 20px;
  font-size: 11px;
  outline: none;
  text-decoration: none;
}
.button:hover {
  background-color: #EA738D;
  color: #ffffff;
  border:none;
}
.button-tour {
  color: #0a0d10;
  cursor: pointer;
  margin: 10px;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #7492c2;
  border-radius: 20px;
  outline: none;
  text-decoration: none;
  animation-delay: 1s;
}
.button-tour:hover {
  background-color: #EA738D;
  border: 2px solid darken($color: #EA738D, $amount: 10%);
  color: #ffffff;
  // border:none;
}
.content {
  color:#7492c2;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 80px;
  animation-delay: 0.5s;
}
.sidebar {
  width: 50px;
  height: 100%;
  background: linear-gradient(#7492c2, #fdfdfd);
  position: absolute;
  right: 0;
  top: 0;
}
.menu {
  display: block;
  width: 25px;
  margin: 40px auto 0;
}
.social-links img,
.useful-links img {
  width: 25px;
  margin: 5px auto;
  cursor: pointer;
}
.social-links {
  display: grid;
  width: 50px;
  text-align: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
.useful-links {
  display: grid;
  width: 50px;
  text-align: center;
  transform: translateY(-50%);
  position: absolute;
  bottom: 30px;
}

@media (max-width: 1378px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: 1040px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .sidebar {
    width: 100%;
    height: 50px;
    background: linear-gradient(#00545d, #000729);
    top: auto;
    bottom: 0;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
    padding: 0 10px;
    display: flex;
  }
  .social-links {
display: inline-block;

    width: auto;
transform: none;
position: unset;

  }
  .useful-links {
display: inline-block;
transform: none;
    width: auto;
position: unset;
  }
  .menu {

    width: 18px;
    margin: 0;
  }
  .feature-img{
    width: 300px;
    // height: 100px;
  }
}
@media(max-width:1182px){
  h1 {

    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 1094px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 994px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

}
@media(max-width: 902){
  h1 {
    font-size: 10px;
    line-height: 10px;
  }
  .button {
position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 5px 15px;
display: inline-block;
    width: auto;
justify-content: right;
  }
}
@media (max-width: 894px) {

  .feature-img{
  width: 400px !important;

  }
}
@media (max-width: 719px) {

  .feature-img{
  width: 350px !important;

  }
}
@media (max-width: 661px) {

  .feature-img{
  width: 320px !important;

  }
}
@media (max-width: 630px) {

  .feature-img{
  width: 300px !important;

  }
}
@media (max-width: 615px) {
  h1 {
    font-size: 50px !important;
    line-height: 60px !important;
  }
  .feature-img{
    display: none !important;

    }
}
@media (max-width: 488px) {
  h1 {
    font-size: 40px !important;
    line-height: 60px !important;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 35px !important;
    line-height: 60px !important;
  }
}
@media (max-width: 350px) {
  h1 {
    font-size: 30px !important;
    line-height: 60px !important;
  }
}
#cursor {
  // position: absolute;
  // width: 40px;
  // height: 40px;
  // background-color:#67daf9;
  // border-radius: 50% ;
  // pointer-events: none;
  // display: none;
  // transition-duration: 0.1s;
  // transition-timing-function: ease-out;
}


.feature-img{
  width: 440px;
  position: absolute;
  padding: 10px;
  right: 0%;
  overflow: hidden;
animation-delay: 1s;
}
.anim{
  opacity: 1;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
  0%{
    opacity: 1;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
