<div class="contain">
  <nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid">
      <!-- <a class="logo" routerLink="/layout"
        >Sky<a style="font-size: x-small">n</a>hr</a
      > -->
      <div class="logo">
        <img src="assets/logo-new.jpg" alt="">
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="button" (mouseenter)="onIndustryMouseEnter()">
              Industries & Solutions
            </button>
          </li>
          <li class="nav-item">
            <button class="button" (mouseenter)="onHoverMouseEnter()">
              company
            </button>
          </li>
          <li class="nav-item">
            <button class="button" (mouseenter)="onMouseEnter()">
              Interactive Demos
            </button>
          </li>
          <li class="nav-item">
            <button class="button" routerLink="/login">login</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="content" id="content">
          <h1 class="anim">Welcome to Sky HR <br />Simplifying</h1>
          <button type="button-tour" class="button anim">Take a tour</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/assets/images/emp.jpg" class="feature-img anim" />
      </div>
    </div>
  </div>

  <div class="sidebar">
    <img src="/assets/images/menu.png" class="menu" />
    <div class="social-links">
      <img src="/assets/images/fb.png" />
      <img src="/assets/images/ig.png" />
      <img src="/assets/images/tw.png" />
    </div>
    <div class="useful-links">
      <img src="/assets/images/info.png" />
      <img src="/assets/images/share.png" />
    </div>
  </div>
</div>

<!-- <div class="mt-5">

</div> -->
<!-- <router-outlet></router-outlet> -->
<app-company-blog></app-company-blog>
<app-industries-blog></app-industries-blog>
<app-interactive-demo></app-interactive-demo>
