<div class="container">
    <div class="row">
      <div class="col-md-6 slide-right" (click)="onClickSchedulerDash()">
        <div class="card card-1">
          <div class="card-body">
            <h5 class="card-title">Scheduler DashBoard</h5>
            <p class="card-text">Calendar of your Shift Details</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 slide-down" (click)="onClickDailyShift()">
        <div class="card card-2">
          <div class="card-body">
            <h5 class="card-title">Daily Shift Details</h5>
            <p class="card-text">Checkout Your Daily Shift Details Of Employees</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 slide-top" (click)="onClickTimesheet()">
        <div class="card card-3">
          <div class="card-body">
            <h5 class="card-title">Attendance Sheet</h5>
            <p class="card-text">Attendance details of all Employees</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 slide-left" (click)="onClickLeave()">
        <div class="card card-4">
          <div class="card-body">
            <h5 class="card-title">Leave Management</h5>
            <p class="card-text">Leave Applications, Apply Leave, Leave Histories</p>
          </div>
        </div>
      </div>
    </div>
  </div>
