<div class="container table-container">
  <h2>Bank Details</h2>
  <div class="d-flex justify-content-between">
    <div>
      <h4>Dashboard / Bank Details</h4>
    </div>
    <div>
      <button class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Add Details
      </button>
    </div>
  </div>
  <div class="card mt-2">
    <form [formGroup]="groupForm" (ngSubmit)="submitForm()">
      <div class="d-flex justify-content-end mt-3">
        <div class="refresh">
          <div class="icon-tooltip" data-title="Refresh">
            <fa-icon
              [icon]="faArrowsRotateIcon"
              (click)="onRefresh()"
            ></fa-icon>
          </div>
        </div>
        <input
          type="text"
          formControlName="searchTerm"
          placeholder="Search..."
          (input)="search()"
        />
      </div>
      <table class="tables mt-3">
        <thead>
          <tr>
            <th>Sno</th>
            <th>Emp Name</th>
            <th>Bank Name</th>
            <th>Account No</th>
            <th>Branch</th>
            <th>IFSC</th>
            <th>Address</th>
            <th>Pan No</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let group of filteredGroups
              | paginate : { itemsPerPage: itemsPerPage, currentPage: page };
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.Empname }}
              <div class="tooltip">{{ group.Empname }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.bankname }}
              <div class="tooltip">{{ group.bankname }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.accountNo }}
              <div class="tooltip">{{ group.accountNo }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.branch }}
              <div class="tooltip">{{ group.branch }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.ifsc }}
              <div class="tooltip">{{ group.ifsc }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.panno }}
              <div class="tooltip">{{ group.panno }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.address }}
              <div class="tooltip">{{ group.address }}</div>
            </td>
            <td class="tooltip-container-icon">
              <a
                (mouseenter)="showTooltipIcon('View', $event)"
                (mouseleave)="hideTooltipIcon()"
              >
                <fa-icon [icon]="faEyeIcon"></fa-icon>
                <div
                  class="tooltip-icon"
                  *ngIf="isTooltipVisible && currentTooltip === 'View'"
                >
                  View
                </div>
              </a>
              <a
                (mouseenter)="showTooltipIcon('Edit', $event)"
                (mouseleave)="hideTooltipIcon()"
              >
                <fa-icon [icon]="faPenIcon"></fa-icon>
                <div
                  class="tooltip-icon"
                  *ngIf="isTooltipVisible && currentTooltip === 'Edit'"
                >
                  Edit
                </div>
              </a>
              <a
                (mouseenter)="showTooltipIcon('Delete', $event)"
                (mouseleave)="hideTooltipIcon()"
              >
                <fa-icon [icon]="faTrashIcon"></fa-icon>
                <div
                  class="tooltip-icon"
                  *ngIf="isTooltipVisible && currentTooltip === 'Delete'"
                >
                  Delete
                </div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between mt-3">
        <div class="items-per-page">
          <select class="form-select" [formGroup]="groupForm" name="itemsPerPage" (change)="onItemsPerPageChange($event)">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">
              {{ option }}
            </option>
          </select>

        </div>
        <div class="select-show">

            Showing Results {{ getStartIndex() }} - {{ getEndIndex() }} of {{ filteredGroups.length }} entries.

        </div>
        <div class="pagination-container">
          <pagination-controls
            (pageChange)="pageChanged($event)"
          ></pagination-controls>
        </div>
      </div>
    </form>
  </div>
</div>
