<div class="container">
  <h2>Bank Details</h2>
  <div class="d-flex justify-content-between">
    <div>
      <h4>Dashboard / Bank Details</h4>
    </div>
    <div>
      <!-- <input type="file" (change)="onFileChange($event)" /> -->
      <!-- <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls"> -->
      <a (click)="exportToPDF()" class="button">Export to pdf</a>
      <a (click)="exportToExcel()" class="button">Export to excel</a>
      <a class="button" (click)="onAdd()" routerLink="/bank-details/edit" ><fa-icon [icon]="faPlusIcon"></fa-icon>Add</a>

    </div>
  </div>
  <div class="card mt-2">
    <form [formGroup]="groupForm" (ngSubmit)="submitForm()">
      <div class="d-flex justify-content-end mt-3">
        <div class="refresh">
          <div class="icon-tooltip" data-title="Refresh">
            <fa-icon
              [icon]="faArrowsRotateIcon"
              (click)="onRefresh()"
            ></fa-icon>
          </div>
        </div>
        <input
          class="refresh"
          type="text"
          formControlName="searchTerm"
          placeholder="Search..."
          (input)="search()"
        />
      </div>
      <table class="table table-bordered">
        <thead class="custom-table-header">
          <tr>
            <th>Sno</th>
            <th>Emp Name</th>
            <th>Bank Name</th>
            <th>Account No</th>
            <th>Branch</th>
            <th>IFSC</th>
            <th>Aadhar Card</th>
            <th>Pan No</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let group of filteredGroups
                | paginate : { itemsPerPage: itemsPerPage, currentPage: page };
              let i = index
            "
          >
            <td>{{ i + 1 }}</td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.Empname }}
              <div class="tooltip">{{ group.Empname }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.bankname }}
              <div class="tooltip">{{ group.bankname }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.accountNo }}
              <div class="tooltip">{{ group.accountNo }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.branch }}
              <div class="tooltip">{{ group.branch }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.ifsc }}
              <div class="tooltip">{{ group.ifsc }}</div>
            </td>
            <td
            class="tooltip-container"
            (mouseenter)="showTooltip($event)"
            (mouseleave)="hideTooltip($event)"
          >
            {{ group.aadhar }}
            <div class="tooltip">{{ group.aadhar }}</div>
          </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.panno }}
              <div class="tooltip">{{ group.panno }}</div>
            </td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ group.address }}
              <div class="tooltip">{{ group.address }}</div>
            </td>
            <td class="tooltip-container-icon">
              <a
                (mouseenter)="showTooltipIcon('View', $event)"
                (mouseleave)="hideTooltipIcon()"
              >
                <fa-icon [icon]="faEyeIcon"></fa-icon>
                <div
                  class="tooltip-icon"
                  *ngIf="isTooltipVisible && currentTooltip === 'View'"
                >
                  View
                </div>
              </a>
              <a
                (mouseenter)="showTooltipIcon('Edit', $event)"
                (mouseleave)="hideTooltipIcon()"
              >
                <fa-icon [icon]="faPenIcon" (click)="onEdit(group.id)"></fa-icon>
                <div
                  class="tooltip-icon"
                  *ngIf="isTooltipVisible && currentTooltip === 'Edit'"

                >
                  Edit
                </div>
                <!-- <div>
                  <button (click)="onEdit(group.id)" class="btn btn-info">edit</button>
                </div> -->
              </a>
              <a
                (mouseenter)="showTooltipIcon('Delete', $event)"
                (mouseleave)="hideTooltipIcon()"
              >
                <fa-icon (click)="onDelete(group.id)" [icon]="faTrashIcon"></fa-icon>
                <div
                  class="tooltip-icon"
                  *ngIf="isTooltipVisible && currentTooltip === 'Delete'"
                >
                  Delete
                </div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between mt-3">
        <div class="items-per-page">
          <select
            class="form-select"
            [formGroup]="groupForm"
            name="itemsPerPage"
            (change)="onItemsPerPageChange($event)"
          >
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="select-show">
          Showing Results {{ getStartIndex() }} - {{ getEndIndex() }} of
          {{ filteredGroups.length }} entries.
        </div>
        <div class="pagination-container">
          <pagination-controls
            (pageChange)="pageChanged($event)"
          ></pagination-controls>
        </div>
      </div>
    </form>
  </div>
</div>




