.app-container {
  display: flex;
  height: -webkit-fill-available;
  overflow: hidden;

}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
   padding: 20px;
   margin-top: 60px;
  position: relative;
  overflow: auto;
}

