h2,h4{
  text-align: center;
  color: #333;
}

.table-container {
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #7492c2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

.border-td {
  border: 1px solid #ddd;
}

.border-td4{
  padding:20px;
}


td:first-child {
  font-weight: bold;
  width: 120px;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.mandatory {
  color: red;
  margin-left: 5px;
}

.toggle-button {
  background-color:#EA738D;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 20px;


}
.toggle-button:hover {
  background-color: darken(#EA738D, 10%);
}

.text-label {
font-style: normal;
  font-weight: normal !important;
}

.spacer {
  position: relative;
  top: -10px;
}
.space {
  position: relative;
  top: 10px;
}



.ribbon-1 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-1:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 147px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon {
  position: relative;
  padding: 6px 30px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 118px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
