<div class="overlay">
  <div class="delete-confirmation">
    <div class="d-flex justify-content-end">
      <fa-icon (click)="cancelDelete()" class="close-icon" [icon]="faCross"></fa-icon>
    </div>
    <fa-icon class="fa-3x icon" [icon]="faExclamation"></fa-icon>
    <div>
      <h4>Delete Record!</h4>
      <p>Are you sure you want to delete this entry?</p>
    </div>
    <div class="d-flex justify-content-evenly mt-3">
      <button class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
      <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</div>
