
 <div class="overlay"*ngIf="overlayVisible"  (mouseleave)="onMouseLeave()">
    <div class="row row-cols-lg-5 row-cols-md-2 g-4 justify-content-center">
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/clock.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Payroll</h5>
                <p class="card-text">Integrate with SkyHR Payroll</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/comp.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Self service</h5>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/mobile.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Service</h5>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/clock.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Time sheet</h5>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/flow.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Attendance</h5>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/three.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Product</h5>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/map.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Travel & expenses</h5>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 560px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/cards-images/comp.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Engage</h5>
                <p class="card-text">This is a wider card with supporting text</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

<app-company-blog></app-company-blog>
<app-industries-blog></app-industries-blog>
