<div class="side-navbar" [ngClass]="{ collapsed: isExpanded }">
  <div class="logo">
    <img
      [src]="!isExpanded ? 'assets/Mainlogo.jpg' : 'assets/logo.png'"
      alt="Logo"
      [ngClass]="{
        'collapsed-image': isExpanded,
        'expanded-image': !isExpanded
      }"
    />
  </div>
  <ul>
    <li *ngFor="let item of menuItems">
      <a (click)="handleMenuItemClick(item)">
        <fa-icon *ngIf="item.label === 'Dashboard'" [icon]="['fas', 'gauge']"></fa-icon>
        <fa-icon *ngIf="item.label === 'Administration'" [icon]="['fas', 'user-tie']"></fa-icon>
        <fa-icon *ngIf="item.label === 'Payrol'" [icon]="['fas', 'money-bill']"></fa-icon>
        <fa-icon *ngIf="item.label === 'Attendance Sheet'" [icon]="['fas', 'clock']"></fa-icon>
        <fa-icon *ngIf="item.label === 'Recruitment'" [icon]="['fas', 'search']"></fa-icon>
        <span class="icon-label" *ngIf="!isExpanded" routerLinkActive="active">
          {{ item.label }}
        </span>
        <fa-icon
          class="fas submenu"
          *ngIf="!isExpanded && item.submenu"
          [icon]="item.expanded ? faCaretUp : faCaretDown"
        ></fa-icon>
      </a>
      <ul *ngIf="item.submenu && !isExpanded && item.expanded" class="submenu-container">
        <li *ngFor="let subItem of item.submenu">
          <a routerLink="{{ subItem.route }}" routerLinkActive="active">{{
            subItem.label
          }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
