<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card slide-right card-emp card-1" (click)="onClickEmp()">
        <div class="card-body">
          <h4>Employee Profiles</h4>
          <p class="text-last">
            Connect with us today – Your inquiries matter, we're here
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card slide-right card-grp card-2" (click)="onClickGroup()">
        <div class="card-body">
          <h4>Groups</h4>
          <p class="text-last">
            Connect with us today – Your inquiries matter, we're here
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card slide-down card-dept card-3" (click)="onClickDepartment()">
        <div class="card-body">
          <h4>Departments</h4>
          <p class="text-last">
            Connect with us today – Your inquiries matter, we're here
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card slide-top card-roles card-4" (click)="onClickRoles()">
        <div class="card-body">
          <h4>EmployeeRoles & Permissions</h4>
          <p class="text-last">
            Connect with us today – Your inquiries matter, we're here
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card slide-left card-res card-5" (click)="onClickResignation()">
        <div class="card-body">
          <h4>Resignation</h4>
          <p class="text-last">
            Connect with us today – Your inquiries matter, we're here
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card slide-left card-holy card-6" (click)="onClickHolidays()">
        <div class="card-body">
          <h4>Holidays</h4>
          <p class="text-last">
            Connect with us today – Your inquiries matter, we're here
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col col-last">
      <div class="card slide-top card-roles" (click)="onClickRoles()">
        <div class="card-body">
          <h4>EmployeeRoles & Permissions</h4>
          <p class="text-last">
            Connect with us today – Your inquiries matter, we're here
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>
