$border-color: #ccc;
$background-color: #f4f4f4;
$hover-background-color: #f9f9f9;
$shadow-color: rgba(0, 0, 0, 0.1);
$primary-color: #086594;
$text-color: white;
$link-color: white;

.container-fluid {
  font-size: smaller;

}


.ribbon-1 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  background-color: #7492c2;
  margin-top: 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-1:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 133px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon {
  position: relative;
  padding: 6px 30px;
  background-color: #7492c2;
  margin-top: 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 104px;
  border-width: 16px 0 16px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.card-main {
  border: 1px solid $border-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px $shadow-color;
  padding: 0px 20px 40px 20px;
  &-body {
    padding: 15px;
  }
}
.card-custom{
padding: 20px;
  margin: 10px;
height: auto;
&.h5{
  padding: 20px;
}
}
.card-title{
margin: 20px 0 40px 0;
}
.card-custom-show{
  margin: 10px;
}
body {
  font-family: "Arial", sans-serif;
  font-size: 5px;
  line-height: 1.6;
  color: $primary-color;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left:0;
}
.button {
  color: $link-color;
  text-decoration: none;
  background-color: #EA738D;
  border: none;
  padding: 9px 15px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: darken(#EA738D, 10%);
  }


}
