div {
  margin-bottom: 20px;
  margin-top:50px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left:20px;
}

select {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

option {
  padding: 5px;
}

.payslip-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.payslip-form {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

img {
  width: 250px;
  height: 60px;
  box-shadow: 0 0 10px rgba(14, 223, 241, 0.5);

}


