<div class="overlay">
  <div class="Role-container">
    <form (ngSubmit)="onSubmit()" #addForm="ngForm">
      <div class="form-group">
        <label for="Role">Edit Role</label>

        <input
          type="text"
          placeholder="Role Name"
          [(ngModel)]="editFormList.name"
          name="roleName"
        />
      </div>
      <div class="d-flex justify-content-around">
        <button type="submit" class="button-add">Done</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
