<div class="form-container">
  <div class="form-header">
    <h1>User Registration</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="proceedregister()" class="registration-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" placeholder="Enter Your Name">
      <div *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" placeholder="Enter Your Password">
      <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
        Password is required.
      </div>
      <div *ngIf="registerForm.get('password')?.hasError('pattern') && registerForm.get('password')?.touched">
        Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" placeholder="Enter Your Email">
      <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
        Email is required.
      </div>
      <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
        Enter a valid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <div class="gender-options">
        <label class="radio-label">
          <input type="radio" formControlName="gender" value="male"> Male
        </label>
        <label class="radio-label">
          <input type="radio" formControlName="gender" value="female"> Female
        </label>
      </div>
      <div *ngIf="registerForm.get('gender')?.hasError('required') && registerForm.get('gender')?.touched">
        Gender is required.
      </div>
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <input type="text" formControlName="role" placeholder="Enter Your Role">

    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success" >Sign Up</button>
      <a routerLink="/login" class="btn btn-info">Back to Login</a>
    </div>
  </form>
</div>
