<div class="container-fluid">
  <h2>Departments</h2>
  <div class="d-flex justify-content-between">
    <div>
      <h4>Dashboard / Departments</h4>
    </div>
    <!-- <div>
      <a class="button" routerLink="/bank-details/edit"
        ><fa-icon [icon]="faPlusIcon"></fa-icon>Add</a
      >
    </div> -->
  </div>

  <div class="card mt-4">
    <form [formGroup]="groupFormDepartment" (ngSubmit)="submitInternalForm()">
      <div class="d-flex justify-content-end mt-3">
        <div class="refresh">
          <div class="icon-tooltip" data-title="Refresh">
            <fa-icon
              [icon]="faArrowsRotateIcon"
              (click)="onRefreshDepartment()"
            ></fa-icon>
          </div>
        </div>
        <input
          type="text"
          formControlName="searchTermInternal"
          placeholder="Search..."
          (input)="searchDepartments()"
        />
      </div>
      <table class="table table-bordered mt-3">
        <thead class="custom-table-header">
          <tr>
            <th>Sno</th>
            <th>Department</th>
            <th>Deaignations</th>
            <th>Description</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let entry of departmentsData
                | paginate
                  : {
                      id: 'internal-pagination',
                      itemsPerPage: itemsPerPageDepartmentsPage,
                      currentPage: departmentPage
                    }
            "
          >
            <td>{{ entry.id }}</td>
            <td
              class="tooltip-container"
              (mouseenter)="showTooltip($event)"
              (mouseleave)="hideTooltip($event)"
            >
              {{ entry.departmentName }}
              <div class="tooltip">{{ entry.departmentName }}</div>
            </td>
            <td>
              <select>
                <option
                  *ngFor="let designation of entry.designationOptions"
                  [value]="designation"
                >
                  {{ designation }}
                </option>
              </select>
            </td>
            <td></td>
            <!-- <td>
              <div>
              <fa-icon [icon]="faEyeIcon" title="View"></fa-icon>
              <fa-icon (click)="openDeleteConfirmation(entry.id)" [icon]="faTrashIcon"></fa-icon>
            </div>
            </td> -->
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between mt-3">
        <div class="items-per-page">
          <select
            class="form-select"
            [formGroup]="groupFormDepartment"
            name="itemsPerPageInternal"
            (change)="onItemsPerPageChangeDepartments($event)"
          >
            <option
              *ngFor="let option of itemsPerPageOptionsDepartmentPage"
              [value]="option"
            >
              {{ option }}
            </option>
          </select>
        </div>
        <div class="select-show">
          Showing Results {{ getStartIndexDepartment() }} -
          {{ getEndIndexDepartment() }} of {{ departmentsData.length }} entries.
        </div>
        <pagination-controls
          (pageChange)="pageChangedDepartments($event)"
          [id]="'internal-pagination'"
        ></pagination-controls>
      </div>
    </form>
  </div>
</div>

<app-confirm-delete-popup
  *ngIf="showDeleteConfirmation"
  (confirmed)="onDeleteConfirmed(deleteConfirmationId)"
  (cancelled)="onCancelDelete()"
></app-confirm-delete-popup>
