<div class="container-fluid anim no-scrollbar">
  <h5>View Employee Resignation</h5>
  <div class="d-flex justify-content-between">
    <div class="mb-2">
      <a class="ribbon" (click)="OnRouteDashboard()">Dashboard</a
      ><a class="ribbon-1" (click)="OnRouteEmployee()">Resignation</a>
      <a class="ribbon-2">View Employee Resignation</a>
    </div>
  </div>
  <div class="card mt-2">
    <form (ngSubmit)="onSubmit()" #editForm="ngForm" >
     <div class="row">
      <div class="form-group col-md-6">
        <label for="empName">Employee Name:</label>
        <input type="text" id="empName" name="empName" [(ngModel)]="editFormList.empName"  required [disabled]="true">
      </div>
      <div class="form-group col-md-6">
        <label for="resignationSubmittedDate">ResignationSubmittedDate:</label>
        <input type="date" id="resignationSubmittedDate" name="resignationSubmittedDate" [(ngModel)]="editFormList.resignationSubmittedDate" required [disabled]="true">
      </div>
     </div>
     <div class="row">
      <div class="form-group col-md-6">
        <label for="lastWorkingDay">LastWorkingDay:</label>
        <input type="date" id="lastWorkingDay" name="lastWorkingDay" [(ngModel)]="editFormList.lastWorkingDay " required [disabled]="true">
      </div>
      <div class="form-group col-md-6">
        <label for="statusOfResignation">StatusOfResignation:</label>
        <input type="text" id="statusOfResignation" name="statusOfResignation" [(ngModel)]="editFormList.statusOfResignation" required [disabled]="true">
      </div>
     </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="approvedManager">ApprovedManager:</label>
          <input type="text" id="approvedManager" name="approvedManager" [(ngModel)]="editFormList.approvedManager" required [disabled]="true">
        </div>
        <div class="form-group col-md-6">
          <label for="reasonForResignation">ReasonForResignation:</label>
          <input type="text" id="reasonForResignation" name="reasonForResignation" [(ngModel)]="editFormList.reasonForResignation" required [disabled]="true">
        </div>
      </div>
      <div class="vstack gap-2 col-md-5 mx-auto mt-2">
        <button type="button" class="button-cancel" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
