
.slide-right:hover {
  transform: translateX(20px);
  transition: transform 0.5s ease;
}
.slide-top:hover {
  transform: translateY(-20px);
  transition: transform 0.5s ease;
}
.slide-down:hover {
  transform: translateY(20px);
  transition: transform 0.5s ease;
}
.slide-left:hover {
  transform: translateX(-20px);
  transition: transform 0.5s ease;
}

.slide-out-down:hover {
  transform: translateY(20px);
  transition: transform 0.5s ease;
}

.container {
  display: flex;
}

.half-card {
  flex: 1;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px #7492c2;
  height: 160px;
  margin-top: 20px;
}

.card-body {
  padding: 20px;
  color: #086594;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-last{
  transform: translateX(100%);
}

@media (max-width: 768px){
  .col-last{
    transform: translateX(0%);
  }
}

.ribbon-1 {
  position: relative;
  padding: 6px 30px;
  margin-left: 23px;
  margin-bottom: 20px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon-1:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 180px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon {
  position: relative;
  padding: 6px 30px;
  background-color: #7492c2;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
         background: darken(#EA738D, 10%);
       }
}

.ribbon::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #7492c2;
  border-style: solid;

}
.ribbon:hover::before {
  border-color:transparent transparent transparent darken(#EA738D, 10%);
}
.ribbon::after {
  content: '';
  position: absolute;
  top: 0;
  right: 118px;
  border-width: 16px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}



.movebounce {
  -webkit-animation: movebounce 2.9s linear infinite;
  animation: movebounce 2.9s linear infinite;
}
@keyframes movebounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.movebounce:nth-child(1) {
  animation-delay: 0s;
}

.movebounce:nth-child(2) {
  animation-delay: 0.2s;
}

.movebounce:nth-child(3) {
  animation-delay: 0.4s;
}

.movebounce:nth-child(4) {
  animation-delay: 0.6s;
}

.movebounce:nth-child(5) {
  animation-delay: 0.8s;
}

.movebounce:nth-child(6) {
  animation-delay: 1s;
}
