
<div>
  <a class="ribbon" (click)="OnRouteDashboard()">Dashboard</a><a class="ribbon-1">Leave Management</a>
</div>


<div class="container-fluid mt-5 mb-3">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="movebounce" (click)="onClickLeaveForm()">
      <div class="half-card card">
        <div class="card-body">
          <h4 class="card-title">Apply Leave</h4>
        </div>
      </div>
    </div>
    <div class="movebounce" (click)="onClickLeaveHistory()"> 
      <div class="half-card card">
        <div class="card-body">
          <h4 class="card-title">Your Leaves History</h4>   
        </div>
      </div>
    </div>
    <div class="movebounce" (click)="onClickAppliedLeaveHistory()">
      <div class="half-card card">
        <div class="card-body">
          <h4 class="card-title">Leave Approval</h4>
        </div>
      </div>
    </div>
  </div>
</div>
