<div
  class="overlay"
  *ngIf="onHoverIndustries"
  (mouseleave)="onIndustryMouseLeave()"
>
  <div class="row">
    <div class="col-md-6">
      <div
        class="row row-cols-md-auto row-cols-md-2 g-4 justify-content-center"
      >
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <p class="card-title">Our Story</p>
            <p class="card-text">
              Here's a concise short description for your company's "Our
              Story":?
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Partners</h5>
            <p class="card-text">
              Empowering success through strategic partnerships, innovation, and
              shared vision
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Careers</h5>
            <p class="card-text">
              Join us, where innovation thrives, and careers flourish with
              endless possibilities
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">News Room</h5>
            <p class="card-text">
              Informative stories, latest updates, and company highlights in a
              nutshell
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Security and Trust</h5>
            <p class="card-text">
              Securing trust through excellence, integrity, and unwavering
              commitment to safety
            </p>
          </div>
        </div>
        <div class="card card-small" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">
              Connect with us today – Your inquiries matter, we're here
            </p>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------->
    <div class="col-md-3">
      <div class=" card-big">
        <div class="card-tiny" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="/assets/cards-images/bank.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="text">Banking & Finacial Services</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-tiny" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="/assets/cards-images/industry.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="text">Manufacturing</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-tiny" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="/assets/cards-images/lapi.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="text">IT & ITES</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-tiny" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="/assets/cards-images/retail.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="text">Retail</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-last" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/assets/cards-images/comp.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="text-last">Connect with us today – Your inquiries matter, we're here</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-last" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/assets/cards-images/clock.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="text-last">Connect with us today – Your inquiries matter, we're here</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
