.container-fluid {
  margin: 20px auto;
  font-size: smaller;
}
    .button {
      color: white;
      text-decoration: none;
      background-color: #086594;
      // color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-right: 10px;

      fa-icon {
        margin-right: 5px;
      }

      &:hover {
        background-color: darken(#086594, 10%);
      }
    }



    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
    }

    .custom-table-header {
      background-color: #086594;
      color: #ffffff;
    }
    .refresh {
      cursor: pointer;
      border: 1px solid #ccc; /* Replace with an appropriate color */
      padding: 8px 16px;
    }

    .action-btn {
      margin-bottom: 10px;
      margin-left: 13px;
    }

    .icon-tooltip {
      position: relative;
      cursor: pointer;
    }

    .icon-tooltip:hover::before {
      content: attr(data-title);
      position: absolute;
      top: -20px;
      right: 100%;
      transform: translateX(-50%);
      padding: 0.5em;
      background-color: #333; /* Replace with an appropriate color */
      color: #fff;
      border-radius: 5px;
    }

    .tooltip-container {
      position: relative;
      cursor: pointer;
    }

    .tooltip {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      background-color: #333; /* Replace with an appropriate color */
      color: #fff;
      padding: 0.5em;
      border-radius: 5px;
    }

    .tooltip-container:hover .tooltip {
      display: block;
    }

    .tooltip-container-icon {
      position: relative;
    }

    .tooltip-icon {
      position: absolute;
      top: -160%;
      left: 150%;
      transform: translateX(-50%);
      background-color: #333; /* Replace with an appropriate color */
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      display: none;
    }


    
.tooltip-container-icons {
  position: relative;

  a {
    position: relative;
    display: inline-block;

    .tooltip-icons {
      position: absolute;
      top: -160%;
      left: 300%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      display: none;
    }
  }

  &:hover a .tooltip-icons {
    display: block;
  }
}
::ng-deep .ngx-pagination{
  line-height: 30px !important;

}

    .tooltip-container-icon:hover .tooltip-icon {
      display: block;
    }

    .info-container {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .items-per-page {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .select-show{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-top: 6px;
    }
    ::ng-deep .ngx-pagination{
      line-height: 30px !important;

    }
    ::ng-deep .ngx-pagination .current {

      background: #086594 !important;
        border-radius: 4px !important;
        padding-left: 13px !important;
        padding-right: 13px !important;

    }
    ::ng-deep .ngx-pagination a, .ngx-pagination button {
       border: solid 1px #e4e4e4 !important;
       text-decoration: none !important;
    }


