<p>forgotpassword works!</p>

<div class="overlay">
  <div class="login p-5 col-md-4">
    <form [formGroup]="forgotpassForm" class="login-form">
      <div class="close-icon">
        <fa-icon class="fa-2x" routerLink="" [icon]="faXIcon"></fa-icon>
      </div>
      <div class="mb-3 p-2">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter Your Email"
        />
        <div
          class="error"
          *ngIf="
            forgotpassForm.get('email')?.hasError('required') &&
            forgotpassForm.get('email')?.touched
          "
        >
          Email is required
        </div>
      </div>
      <div class="p-4 d-flex justify-content-between">
        <button type="submit" class="button">Submit</button>
        <a routerLink="/forgotPassword" class="button">Send OTP</a>
      </div>
    </form>
  </div>
</div>
