<div class="container-fluid">
  <h5>Holidays</h5>
  <div class="d-flex justify-content-between">
    <div>
      <a class="ribbon" (click)="OnRouteDashboard()">Dashboard</a
      ><a class="ribbon-1">Holidays</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3 mt-2">
      <div class="card mt-2">
        <span></span>
        <form [formGroup]="groupFormInternal" (ngSubmit)="submitInternalForm()">
          <div class="d-flex justify-content-end mt-2">
            <div class="refresh">
              <div class="icon-tooltip" data-title="Refresh">
                <fa-icon
                  class="icon-refresh"
                  [icon]="faArrowsRotateIcon"
                  (click)="onRefreshInternal()"
                ></fa-icon>
              </div>
            </div>
            <input
              type="text"
              formControlName="searchTermInternal"
              placeholder="Search..."
              (input)="searchpublicholiday()"
            />
          </div>
          <table class="table table-bordered mt-2">
            <thead class="custom-table-header">
              <tr>
                <th>Sno</th>
                <th>Holiday Name</th>
                <th>Date</th>
                <th>Day</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let entry of internalData
                    | paginate
                      : {
                          id: 'internal-pagination',
                          itemsPerPage: itemsPerPageInternalPage,
                          currentPage: internalPage
                        }
                "
              >
                <td>{{ entry.sno }}</td>
                <td
                  class="tooltip-container"
                  (mouseenter)="showTooltip($event)"
                  (mouseleave)="hideTooltip($event)"
                >
                  {{ entry.holidayName }}
                  <div class="tooltip">{{ entry.holidayName }}</div>
                </td>
                <td
                  class="tooltip-container"
                  (mouseenter)="showTooltip($event)"
                  (mouseleave)="hideTooltip($event)"
                >
                  {{ entry.date }}
                  <div class="tooltip">{{ entry.date }}</div>
                </td>
                <td
                  class="tooltip-container"
                  (mouseenter)="showTooltip($event)"
                  (mouseleave)="hideTooltip($event)"
                >
                  {{ entry.day }}
                  <div class="tooltip">{{ entry.day }}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between mt-3 font">
            <div class="items-per-page">
              <select
                class="form-select"
                [formGroup]="groupFormInternal"
                name="itemsPerPageInternal"
                (change)="onItemsPerPageChangeInternal($event)"
              >
                <option
                  *ngFor="let option of itemsPerPageOptionsInternalPage"
                  [value]="option"
                >
                  {{ option }}
                </option>
              </select>
            </div>
            <div class="select-show">
              Showing Results {{ getStartIndexInternal() }} -
              {{ getEndIndexInternal() }} of {{ internalData.length }} entries.
            </div>
            <pagination-controls
              (pageChange)="pageChangedInternal($event)"
              [id]="'internal-pagination'"
            ></pagination-controls>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6 mb-3 mt-2">
      <div class="card card-optional mt-2">
        <span></span>
        <form [formGroup]="groupFormExternal" (ngSubmit)="submitInternalForm()">
          <div class="d-flex justify-content-end mt-2">
            <div class="refresh">
              <div class="icon-tooltip" data-title="Refresh">
                <fa-icon
                  class="icon-refresh"
                  [icon]="faArrowsRotateIcon"
                  (click)="onRefreshExternal()"
                ></fa-icon>
              </div>
            </div>
            <input
              type="text"
              formControlName="searchTermExternal"
              placeholder="Search..."
              (input)="searchOptionalHoliday()"
            />
          </div>
          <table class="table table-bordered mt-2">
            <thead class="custom-table-header">
              <tr>
                <th>Sno</th>
                <th>Holiday Name</th>
                <th>Date</th>
                <th>Day</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let entry of externalData
                    | paginate
                      : {
                          id: 'external-pagination',
                          itemsPerPage: itemsPerPageExternalPage,
                          currentPage: externalPage
                        }
                "
              >
                <td>{{ entry.sno }}</td>
                <td
                  class="tooltip-container"
                  (mouseenter)="showTooltip($event)"
                  (mouseleave)="hideTooltip($event)"
                >
                  {{ entry.holidayName }}
                  <div class="tooltip">{{ entry.holidayName }}</div>
                </td>
                <td
                  class="tooltip-container"
                  (mouseenter)="showTooltip($event)"
                  (mouseleave)="hideTooltip($event)"
                >
                  {{ entry.date }}
                  <div class="tooltip">{{ entry.date }}</div>
                </td>
                <td
                  class="tooltip-container"
                  (mouseenter)="showTooltip($event)"
                  (mouseleave)="hideTooltip($event)"
                >
                  {{ entry.day }}
                  <div class="tooltip">{{ entry.day }}</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between mt-3 font">
            <div class="items-per-page">
              <select
                class="form-select"
                [formGroup]="groupFormExternal"
                name="itemsPerPageExternal"
                (change)="onItemsPerPageChangeExternal($event)"
              >
                <option
                  *ngFor="let option of itemsPerPageOptionsExternalPage"
                  [value]="option"
                >
                  {{ option }}
                </option>
              </select>
            </div>
            <div class="select-show">
              Showing Results {{ getStartIndexExternal() }} -
              {{ getEndIndexExternal() }} of {{ externalData.length }} entries.
            </div>
            <pagination-controls
              (pageChange)="pageChangedExternal($event)"
              [id]="'external-pagination'"
            ></pagination-controls>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
