
<div class="container-fluid mt-5">
    <h2>Edit Employee Profiles</h2>
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
     <div class="row">
      <div class="form-group col-md-6">
        <label for="empName">Employee Name:</label>
        <input type="text" id="empName" name="empName" [(ngModel)]="editFormList.employeeName" required>
      </div>
      <div class="form-group col-md-6">
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" [(ngModel)]="editFormList.department" required>
      </div>
     </div>
     <div class="row">
      <div class="form-group col-md-6">
        <label for="designation">Designation:</label>
        <input type="text" id="designation" name="designation" [(ngModel)]="editFormList.designation " required>
      </div>
      <div class="form-group col-md-6">
        <label for="phoneNumber">PhoneNumber:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="editFormList.phoneNumber" required>
      </div>
     </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" [(ngModel)]="editFormList.email" required>
        </div>
        <div class="form-group col-md-6">
          <label for="workingLocation">WorkingLocation:</label>
          <input type="text" id="workingLocation" name="workingLocation" [(ngModel)]="editFormList.workingLocation" required>
        </div>
      </div>
     <div class="row">
      <div class="form-group col-md-6">
        <label for="workingClient">WorkingClient:</label>
        <input type="text" id="workingClient" name="workingClient" [(ngModel)]="editFormList.workingClient" required>
      </div>
      <div class="form-group col-md-6">
        <label for="permanentAddress">PermanentAddress:</label>
        <input type="text" id="permanentAddress" name="permanentAddress" [(ngModel)]="editFormList.permanentAddress" required>
      </div>
     </div>

    <div class="vstack gap-2 col-md-5 mx-auto">
      <button type="submit" class="btn btn-secondary">Save changes</button>
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
    </div>
    </form>
  </div>
