<div class="container">
    <div class="half-card">
      <h5 (click)="onClickPayslip()">
        <div class="card">
          <div class="card-header">
            Payslip
          </div>
          <div class="card-body">
           <p>Custom Your Payroll items</p>
           <p>Simplify Your Payroll To One Click</p>
          </div>
        </div>
      </h5>
    </div>
    <div class="half-card">
      <h5 (click)="onClickPayForm()">
        <div class="card">
          <div class="card-header">
            Generate Payroll
          </div>
          <div class="card-body">
           <p> Run Your Payroll With Single Click Automate </p>
           <p> Your Payroll in Minutes </p>
          </div>
        </div>
    </h5>
    </div>
    <div class="half-card">
      <h5 (click)="onClickTaxForm()">
        <div class="card">
          <div class="card-header">
            Tax Declaration
          </div>
          <div class="card-body">
           <p></p>
           <p> Your Tax Declaration in Minutes </p>
          </div>
        </div>
    </h5>
    </div>
  </div>
  