<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="slide-right" (click)="onClickPayslip()">
      <div class="card card-1">
        <div class="card-body">
          <h5 class="card-title">Payslip</h5>
          <p>Customize Your Payroll items</p>
          <p>Simplify Your Payroll To One Click</p>
        </div>
      </div>
    </div>
    <div class="slide-right" (click)="onClickPayForm()">
      <div class="card card-2">
        <div class="card-body">
          <h5 class="card-title">Generate Payroll</h5>
          <p>Run Your Payroll With Single Click Automate</p>
          <p>Your Payroll in Minutes</p>
        </div>
      </div>
    </div>
    <div class="slide-down" (click)="onClickTaxForm()">
      <div class="card card-3">
        <div class="card-body">
          <h5 class="card-title">Tax Declaration</h5>
          <p>Your Tax Declaration in Minutes</p>
        </div>
      </div>
    </div>
    <div class="slide-top" (click)="onClickTaxForm()">
      <div class="card card-4">
        <div class="card-body">
          <h5 class="card-title">Schedule</h5>
          <p>Your Tax Declaration in Minutes</p>
        </div>
      </div>
    </div>
    <div class="slide-left" (click)="onClickTaxForm()">
      <div class="card card-5">
        <div class="card-body">
          <h5 class="card-title">Statutory Compliances</h5>
          <p>Your Tax Declaration in Minutes</p>
        </div>
      </div>
    </div>
    <div class="slide-left" (click)="onClickTaxForm()">
      <div class="card card-6">
        <div class="card-body">
          <h5 class="card-title">Payroll Report</h5>
          <p>Your Tax Declaration in Minutes</p>
        </div>
      </div>
    </div>
  </div>
</div>
